<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image Metadata Manager</title>
</head>

<body>
  <h1>Add Image</h1>
  <form method="post" action="/add" enctype="multipart/form-data">
    <div>
    <label for="image">Upload Image</label> 
    <input type="file" id="image" name="image" accept="image/*" required>
    <br><br>
    </div>
    <div>
    <label for="tag">Tag</label>
    <input type="text" name="tag">
    <label for="value">Value</label>
    <input type="text" name="value">
    <br><br>
    </div>
    <div>
    <label for="tag">Tag</label>
    <input type="text" name="tag">
    <label for="value">Value</label>
    <input type="text" name="value">
    <br><br>
    </div>
    <div>
    <label for="tag">Tag</label>
    <input type="text" name="tag">
    <label for="value">Value</label>
    <input type="text" name="value">
    <br><br>
    </div>
    <div>
    <label for="tag">Tag</label>
    <input type="text" name="tag">
    <label for="value">Value</label>
    <input type="text" name="value">
    <br><br>
    </div>
    <div>
    <label for="tag">Tag</label>
    <input type="text" name="tag">
    <label for="value">Value</label>
    <input type="text" name="value">
    <br><br>
    </div>
    <input type="submit" value="ADD">
  </form>
  <br><br><br>
  <form method="get" action="/menu">
  	<input type="submit" value="Go back to menu">
  </form>
  <br><br>
  <form method="get" action="/">
  	<input type="submit" value="Logout">
  </form>
</body>

</html>